.Themenbox{
  text-align: center;
}
button {
    margin: 2vh;
    font-size: 16px;
    background-color: #222323;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-family: 'Press Start 2P', sans-serif;
}
  
button:focus {
  outline: none;
    background-color: #6faaff;
    color: #fff;
}

.Textbox {
  text-align: center;
  color: #fff;
  font-size: medium;
}
@media screen and (max-width: 900px) /*Phone view*/
{
  .Themenbox{
    text-align: center;
  }
  button {
      margin: 2vh;
      background-color: #222323;
      color: #ffffff;
      cursor: pointer;
      border: none;
      font-family: 'Press Start 2P', sans-serif;
  }
    
  button:focus {
    outline: none;
      background-color: #6faaff;
      color: #fff;
  }
  
  .Textbox {
    text-align: center;
    color: #fff;
  }
}