.from {
    display: flex;
}
.contact-form-container {
    display: flex;
    justify-content: space-between; /* This will create space between the two forms */
}

.contact-form {
    flex: 1; 
    padding: 2rem;
    box-sizing: border-box; 
    margin-right: 1rem; 
}

.contact-form from{
    display:  flex;
    width: max-content;
}

.contact-form .input-group {
    text-align: left;
    margin-bottom: 1rem;
    width: 100%; /* Adjusted to take full width within each form */
}

.contact-form label {
    display: block;
    margin-bottom: 0.5rem;
    color: white;
}

.contact-form input {
    width: 100%; /* Adjusted to take full width within each form */
    padding: 0.5rem;
    border: 1px;
    border-radius: 4px;
    font-size: 1rem;
    background: #222323 url('http://185.232.68.90:4000/images/rahmen_klein.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #000; /* Add a solid border style */
    border-radius: 4px;
    font-size: 1rem;
    background: url('http://185.232.68.90:4000/images/rahmen_gross.png');
    background-size: 100% auto; /* Fit the background image width and auto height */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center center; /* Center the background image */
    resize: vertical;
    position: relative;
    z-index: 1;
}
.contact-form button {
    background-color: #0a0a0a;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #333;
}

.contact-form .success-message,
.contact-form .error-message {
    margin-top: 1rem;
    font-size: 1rem;
}
