.container_info {
  text-align: left;
  background-size: cover;
  background: #222323 ;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  padding-top: 10vh; /* Add top padding to create space for the header */
  padding-bottom: 10vh; /* Add bottom padding to create space for the footer */
}