footer {
    background: #222323 center center/cover no-repeat;
    display: flex;
    justify-content: space-between;
    font-family: 'Press Start 2P', sans-serif;
    align-items: center;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15vh;
  }
  
  .Leftcorner {
    flex-grow: 1;
    margin-left: 10px;
    text-align: left;
  }
  
  .Rightcorner {
    flex-grow: 1;
    margin-right: 10px;
    text-align: right;
  }
  
