header {
  background: center center/cover no-repeat;
  display: flex;
  justify-content:center;
  align-items: center;
  height: 20vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: height 0.3s ease;
}

header.shrink {
  height: 10vh;
}

.logo {
  width: auto; 
  height: 10vh;
  transition: transform 0.3s ease; /* Add smooth transition effect for the transform property */
}

header.shrink .logo {
  transform: scale(0.5); /* Adjust the scale factor as needed */
}
