.personen-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.person {
    width: calc(33% - 20px);
    margin-bottom: 40px;
    text-align: center;
}
.rounded-image {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    overflow: hidden; /* Hide the overflow to maintain the rounded shape */
    display: inline-block; /* Display the element inline */
}
.rounded-image img {
    width: auto; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Maintain the image aspect ratio and cover the container */
}
.name {
    margin-top: 10px;
    font-size: 8px;
    color: #ffffff;
}
.lebensabschnitt {
    margin-top: 10px;
    color: #ffffff;
}
@media screen and (min-width: 769px) {
    .personen-container {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .person {
        width: calc(33% - 20px);
        margin-bottom: 40px;
        text-align: center;
    }
    .rounded-image {
        width: 150px; /* Adjust the size as needed */
        height: 150px; /* Adjust the size as needed */
        overflow: hidden; /* Hide the overflow to maintain the rounded shape */
        display: inline-block; /* Display the element inline */
    }
    .rounded-image img {
        width: auto; /* Make the image fill the container */
        height: 100%; /* Make the image fill the container */
        object-fit: cover; /* Maintain the image aspect ratio and cover the container */
    }
    .name {
        margin-top: 10px;
        font-size: 16px;
        color: #ffffff;
    }
    .lebensabschnitt {
        margin-top: 10px;
        color: #ffffff;
    }
}