.container {
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    padding-top: 10vh; /* Add top padding to create space for the header */
    padding-bottom: 10vh; /* Add bottom padding to create space for the footer */
}  
.single_container {
    text-align: center;
    margin-left: 50vh;
    margin-right: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    color:white;
}
@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/01_PressStart2P-Regular.ttf') format('truetype');
}
@media screen and (max-width: 900px) {
    .container {
        text-align: center;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        font-family: 'Press Start 2P', sans-serif;
        font-size: 6px;
        font-weight: normal;
        font-style: normal;
        padding-top: 10vh; /* Add top padding to create space for the header */
        padding-bottom: 10vh; /* Add bottom padding to create space for the footer */
    }  
    
    .single_container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10vh;
        margin-left: 5vh;
        margin-right: 5vh;
    }
}
