/* ThemenList.css */
.container_einzeln {
    text-align: center;
    background-color: #884c4c;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    padding: 2rem;
    border-radius: 31px;
}

.titel {
    text-align: center;
    color: #fff;
    padding: 2rem;
    background-color: #333;
    font-size: large;
}

.text {
    text-align: center;
    color: #fff;
    padding: 2rem;
    font-size: medium;
}